@{
    ViewData["Title"] = "Espaço Verde";
}


<div class="bg-light py-2">
    <div class="container d-flex justify-content-around">
        <button class="btn btn-outline-secondary">Material de Ferro</button>
        <button class="btn btn-outline-secondary">Material de Alumínio</button>
        <button class="btn btn-outline-secondary">Material de Metal</button>
    </div>
</div>


<!-- Conteúdo Principal -->
<div class="container mt-4">
    <!-- Cards de Anúncios -->
    <div class="row g-3 mt-5">
        <!-- Card de exemplo -->
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4 bg-light d-flex align-items-center justify-content-center">
                        <!-- Espaço para imagem ou logo -->
                        <img src="vendor/bs5.3.3/imgs/Cavaco de alumínio.jpeg" alt=""
                            class="img-custom img-fluid rounded img-thumbnail">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Empresa X</h5>
                            <p class="card-text">
                                Informações sobre o produto<br>
                                Alumínio 10Kg<br>
                                R$7,00/Kg<br>
                                Matão - SP
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <button class="btn btn-outline-secondary">
                            <i class="bi bi-envelope"></i><!-- Ícone de opções -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Replique os cards conforme necessário -->
    </div>

    <div class="row g-3 mt-5">
        <!-- Card de exemplo -->
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4 bg-light d-flex align-items-center justify-content-center">
                        <!-- Espaço para imagem ou logo -->
                        <img src="vendor/bs5.3.3/imgs/Ferro Fundido.jpeg" alt=""
                            class="img-custom img-fluid rounded img-thumbnail">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Empresa Y</h5>
                            <p class="card-text">
                                Informações sobre o produto<br>
                                Ferro Fundido 50Kg<br>
                                R$1,00/Kg<br>
                                Matão - SP
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <button class="btn btn-outline-secondary">
                            <i class="bi bi-envelope"></i><!-- Ícone de opções -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Replique os cards conforme necessário -->
    </div>

    <div class="row g-3 mt-5">
        <!-- Card de exemplo -->
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4 bg-light d-flex align-items-center justify-content-center">
                        <!-- Espaço para imagem ou logo -->
                        <img src="vendor/bs5.3.3/imgs/Aço Inox.jpeg" alt=""
                            class="img-custom img-fluid rounded img-thumbnail">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Empresa Z</h5>
                            <p class="card-text">
                                Informações sobre o produto<br>
                                Aço Inox 20Kg<br>
                                R$5,00/Kg<br>
                                Araraquara - SP
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <button class="btn btn-outline-secondary">
                            <i class="bi bi-envelope"></i><!-- Ícone de opções -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Paginação -->
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
        </ul>
    </nav>
</div>
