<h1 class="text-black text-center m-4">Cadastro de Resíduos</h1>
<div class="container row align-items-center">
    <div class="col-2">

    </div>
    <div class="col-8">
        <form class="form shadow p-4 rounded">
            <label class="form-label">Imagem do resíduo <i class="bi bi-file-earmark-image"></i></label>
            <input class="form-control form-select" type="file" placeholder="Selecione uma imagem">
            
            <label class="form-label mt-2">Material</label>
            <select class="form-control form-select" placeholder="Selecione">
                    <option value="Selecione">Selecione</option>
                    <option value="aluminio">Alumínio</option>
                    <option value="ferro">Ferro</option>
                    <option value="aco">Aço</option>
            </select>

            <label class="form-label mt-2">Quantidade (Kg)</label>
            <input class="form-control" type="number" placeholder="10,05">
            
            <label class="form-label mt-2">Preço por Kg</label>
            <input class="form-control form" placeholder="50,5">

            <div class="row">
                <div class="col-6 pe-1">
                    <button type="submit" class="btn btn-success w-100 mt-2">Registrar</button>
                </div>
                <div class="col-6 ps-1">
                    <button type="reset" class="btn btn-warning w-100 mt-2 text-white">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-2">

    </div>
</div>